<button (click)="callCompressedApi()">Compressed</button>
<button (click)="callNonCompressedApi()">Non Compressed</button>
<h1>Check the size and time of api calls in networks tab to see the difference. 😉</h1>
<!-- <table border="1" cellpadding="10">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Website</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let person of data">
            <td>{{ person.name }}</td>
            <td>{{ person.email }}</td>
            <td>{{ person.address }}</td>
            <td>{{ person.phone }}</td>
            <td><a href="{{ person.website }}" target="_blank">{{ person.website }}</a></td>
        </tr>
    </tbody>
</table> -->